In [17]:
## 라이브러리 선언
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [18]:
## 데이터 접속 주소 입력
url = "http://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=MjcyMmMzZDg3ZDFmYzA4NjAxM2M3M2QxN2RiNzAwMWM=&format=json&jsonVD=Y&userStatsId=rnjs2257/408/DT_30404_N0002/2/1/20190418172834&prdSe=M&newEstPrdCnt=1"

In [19]:
## 정상여부 확인(200정상)
response = requests.get(url)
response

In [20]:
# JSON 데이터 획득
json = response.json()
# PandasDataframe변환
df = json_normalize(json)
df.head()

,C1,C1_NM,C1_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,C2,C2_NM,C2_NM_ENG,C2_OBJ_NM,C2_OBJ_NM_ENG,DT,ITM_ID,ITM_NM,ORG_ID,PRD_DE,PRD_SE,TBL_ID,TBL_NM,UNIT_NM,UNIT_NM_ENG
0,00,종합,Total,주택유형,Type,a0,전국,TheWholeCountry,지역,Region,99.01303262,rent,월세가격,408,201903,M,DT_30404_N0002,유형별 월세가격지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
1,00,종합,Total,주택유형,Type,a1,수도권,SeoulMetropolitanArea,지역,Region,99.85745279,rent,월세가격,408,201903,M,DT_30404_N0002,유형별 월세가격지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
2,00,종합,Total,주택유형,Type,a2,지방,Non-SeoulMetropolitanArea,지역,Region,98.25345042,rent,월세가격,408,201903,M,DT_30404_N0002,유형별 월세가격지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
3,00,종합,Total,주택유형,Type,a4,5대광역시,5MetropolitanCities,지역,Region,98.67710686,rent,월세가격,408,201903,M,DT_30404_N0002,유형별 월세가격지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
4,00,종합,Total,주택유형,Type,a6,8개도,8Provinces,지역,Region,97.93819703,rent,월세가격,408,201903,M,DT_30404_N0002,유형별 월세가격지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0

In [22]:
df.to_csv("d:/103_유형별 월세가격지수_103.csv")