In [1]:
# 라이브러리 선언
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [10]:
# 데이터 접속 주소 입력
url = 'http://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=YTEzNDI1NzdlODhiMDllMmFkNWRlYTIxMjE4ZTMyMjA=&itmId=rent+&objL1=ALL&objL2=ALL&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&newEstPrdCnt=1&loadGubun=2&orgId=408&tblId=DT_30404_N0012'
# 정상 여부 확인 (200 정상)
response = requests.get(url)
response
# JSON 데이터 획득
json = response.json()
# PandasDataframe변환
df = json_normalize(json)

In [12]:
df.head()

,C1,C1_NM,C1_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,C2,C2_NM,C2_NM_ENG,C2_OBJ_NM,C2_OBJ_NM_ENG,DT,ITM_ID,ITM_NM,ORG_ID,PRD_DE,PRD_SE,TBL_ID,TBL_NM,UNIT_NM,UNIT_NM_ENG
0,00,종합,Total,주택유형,Type,a0,전국,TheWholeCountry,지역,Region,97.98662125,rent,전월세통합지수(2015.6 ＝ 100.0),408,201903,M,DT_30404_N0012,전월세통합지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
1,00,종합,Total,주택유형,Type,a1,수도권,SeoulMetropolitanArea,지역,Region,98.31184576,rent,전월세통합지수(2015.6 ＝ 100.0),408,201903,M,DT_30404_N0012,전월세통합지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
2,00,종합,Total,주택유형,Type,a10,광주,Gwangju,지역,Region,100.4222264,rent,전월세통합지수(2015.6 ＝ 100.0),408,201903,M,DT_30404_N0012,전월세통합지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
3,00,종합,Total,주택유형,Type,a11,대전,Daejeon,지역,Region,100.0588636,rent,전월세통합지수(2015.6 ＝ 100.0),408,201903,M,DT_30404_N0012,전월세통합지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
4,00,종합,Total,주택유형,Type,a12,울산,Ulsan,지역,Region,89.94344562,rent,전월세통합지수(2015.6 ＝ 100.0),408,201903,M,DT_30404_N0012,전월세통합지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0

In [9]:
df.to_csv("../전월세통합지수.csv",encoding="ms949")